html{
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-color: #2A273C;
    background: url(/static/images/background.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 1000px;
    margin: 0px auto;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    font-size: 16px;
}

h1,h2{
    margin-top: 0;
}

#container {
    box-shadow: 0px 0px 55px 0px rgba(0,0,0,1);
    background: rgba(255,255,255,0.666);
}

#header{
    max-width: 100%;
    height: 184px;
    background-image:url(/static/images/header.png);
    background-size: cover;
}

#links {
    left: 81%;
    padding-top: 1.6em;
    position: relative;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    list-style-type: none;
}
@media (max-width: 600px) {
    #links { left: 70%; }
}
@media (max-width: 400px) {
    #links { left: 50%; }
}

/* unvisited link */
#links a:link {
    color: #FFFFFF;
    text-shadow: 5px 5px 5px rgb(0, 0, 0), -5px -5px 5px rgb(0, 0, 0);
}

/* visited link */
#links a:visited {
    color: #FFFFFF;
    text-shadow: 5px 5px 5px rgb(0, 0, 0), -5px -5px 5px rgb(0, 0, 0);
}

/* mouse over link */
#links a:hover {
    color: #FFBBFF;
    text-shadow: 5px 5px 5px rgb(0, 0, 0), -5px -5px 5px rgb(0, 0, 0);
}

/* selected link */
#links a:active {
    color: #FFFFFF;
    text-shadow: 5px 5px 5px rgb(0, 0, 0), -5px -5px 5px rgb(0, 0, 0);
}

#content{
    padding: 1em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
    background: rgba(255,255,255,0.666);
}

#footer{
    padding: 10px;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 255), -5px -5px 5px rgba(255, 255, 255, 255);
    text-align: right;
}

.lefthalfbox{
    float: left;
    width: 49%;
}

.righthalfbox{
    float: right;
    width: 49%;
}

input[type=text], input[type=password], textarea{
    border: 1px solid black;
    width: 100%;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.listbox{
    padding-left: 10px;
    border: 1px solid black;
    background-color: white;
    list-style-type: none;
}

.rating {
    display: block;
    float: right;
    padding-right: 0.5em;
    color: black;
}

.rating .filled {
    color: #FFBB00;
}

.indent{
    padding-left: 2em;
}

.smalltext{
    font-size: 12px;
    font-weight: normal;
}

.btn {
    background: #2A273C;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    text-decoration: none;
	border: 0 none;
    font-weight: bold;
    font-size: 12pt;
	transition: background 0.3s ease-in-out 0s;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.btn:hover {
    background: #000;
}

#search{
    border: 1px solid black;
}
#search input {
	background: none repeat scroll 0 0 #fff;
	border: 0 none;
	color: #7F7F7F;
	float: left;
	height: 20px;
	margin: 0;
	padding: 10px;
	transition: background 0.3s ease-in-out 0s;
	width: calc(100% - 60px);
}

#search button {
	background: url(/static/images/search.png) no-repeat scroll center center #2A273C;
	cursor: pointer;
	height: 40px;
	text-indent: -99999em;
	transition: background 0.3s ease-in-out 0s;
	width: 40px;
	border: 2px solid #fff;
}

#search button:hover {
	background-color:#000;
}
