{% extends "base.html" %}
{% load tags %}
{% load static %}

{% block title %}Add recipe -{% endblock %}
{% block head_block %}
<script src="{% static "js/jquery.formset.js" %}"></script>
<script type="text/javascript">
  $(function() {
    $('#addings').formset({
        prefix: '{{ form.ings.prefix }}',
        addText: 'add another ingredient',
        deleteText: 'remove this ingredient'
    });
  })
</script>
<script type="text/javascript">
    $(function(){
      $("input[id*='ingredient']").autocomplete({
        source: "/shakesbeer/get_ingredient_names/"
      });
    });
</script>
{% endblock %}
{% block body_block %}
    <form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div class="lefthalfbox">
        <h1>Add a recipe</h1>
        <h4>Name:</h4>{{ form.name }}

        <h4>Ingredients needed:</h4>
        <div id="addings">
            {% for ing in form.ings %}
            <div class="ingredient">{{ ing.ingredient }}{{ ing.amount }}</div>
        {% endfor %}</div>
        {{form.ings.management_form}}

        <h4>Instructions:</h4>
        {{ form.instructions }}

    </div>
    <div class="righthalfbox">
        <h4>Picture:</h4>
        {{ form.picture }}
        <br />
        <input class="btn btn-primary" type="submit" value="Submit recipe" />
        {% if errors %}
        <h4>Errors:</h4>
        <p>{{errors}}</p>
        {% endif %}
    </div>
    </form>
{% endblock %}