<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/static/main.css" rel="stylesheet">
    <title>ShakesBEER</title>
</head>
<body>
<div id="header">
<ul id="links">
    <li><a href="{% url 'index' %}">index</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'auth_logout' %}?next=/shakesbeer/">sign out</a></li>
    <li><a href="{% url 'addrecipe' %}">add recipe</a></li>
    {% else %}
    <li><a href="{% url 'auth_login' %}">sign in</a></li>
    <li><a href="{% url 'registration_register' %}?next=/shakesbeer/">sign up</a></li>
    {% endif %}
	</br>
	<a href="https://twitter.com/shakesbeerapp" class="twitter-follow-button" data-show-count="false">Follow @shakesbeerapp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</ul>
</div>
<div id="container">
<div id="content">
{% block body_block %}{% endblock %}
</div>
<div id="footer">
©2015 the <strong><a href="{% url 'about' %}">'EH?'</a></strong> team
</div>
</div>
</body>
</html>