{% extends "base.html" %}
{% load tags %}

{% block body_block %}
    <div class="lefthalfbox">
        {% searchbar %}
        <h1>{{recipe.name}} <span class="smalltext">by {{recipe.user}}</span>
        <span class="rating">
        {% for star in recipe.avgrating|times %}
        <span class="filled">★</span>
        {% endfor %}
        {% for star in recipe.avgrating|remainingtimes %}
        <span>☆</span>
        {% endfor %}
        </span></h1>

        <div>
        <h4>ingredients needed:</h4>
        <ul>
        {% for ingredient in ingredients %}
        <li><a class="ingredient" href="{% url 'resultstag' ingredient.ingredient.name %}">{{ ingredient.ingredient }}</a>, {{ ingredient.amount }}</li>
        {% endfor %}
        </ul>
        </div>

        <div>
        <h4>instructions:</h4>
        <p class="indent">{{recipe.instructions}}</p>
        </div>

        <div>
        <h4>comments:</h4>
        {% for comment in comments %}
        <p class="indent">'<i>{{ comment.rating }}</i>'
            <span class="smalltext">by {{ comment.user.username }}, {{ comment.date }}</span>
        </p>
        {% endfor %}
        {% if user.is_authenticated %}
            <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}{{ form.rating }}<br />
            <input class="btn btn-primary" type="submit" value="Submit" />
            </form>
        {% else %}<p><a href="{% url 'auth_login' %}">Log in</a> to comment on this recipe!</p>
        {% endif %}
        </div>

    </div>
    <div class="righthalfbox">
		{% if recipe.picture %}
        <img class="shrinky" src="{{recipe.picture.url}}" alt="{{recipe.name}}" />
		{% endif %}
    </div>
{% endblock %}