{% extends "base.html" %}
{% load tags %}

{% block title %}{{ recipe.name }} -{% endblock %}

{% block body_block %}
    <div class="lefthalfbox">
        {% searchbar query%}
        <h1>{{recipe.name}} <span class="smalltext">by {{recipe.user}}</span>
        <span title="average {{recipe.avgrating}} out of {{recipe.noratings}} rating(s)" class="rating">
        {% for star in recipe.avgrating|times %}
        <span class="filled">★</span>
        {% endfor %}
        {% for star in recipe.avgrating|remainingtimes %}
        <span>☆</span>
        {% endfor %}
        </span></h1>

        <div>
        <h4>ingredients needed:</h4>
        <ul>
        {% for ingredient in ingredients %}
        <li><a class="ingredient" href="{% url 'resultstag' ingredient.ingredient.name %}">{{ ingredient.ingredient }}</a>, {{ ingredient.amount }}</li>
        {% endfor %}
        </ul>
        </div>

        <div>
        <h4>instructions:</h4>
        <p class="indent">{{recipe.instructions}}</p>
        </div>

        <div>
        <h4>comments:</h4>
        {% for comment in comments %}
        <p class="indent">'<i>{{ comment.rating }}</i>'
            <span class="smalltext">by {{ comment.user.username }}, {{ comment.date }}</span>
        </p>
        {% endfor %}
        {% if user.is_authenticated %}
            <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}{{ form.rating }}<br />
            <input class="btn btn-primary" type="submit" value="Submit" />
            </form>
		<span id="ratebox" class="rating">
			<span>rate this recipe:</span>
			{% for star in current_rating|times %}
				<span class="filled"><a class="star" href="{% url 'rate' recipe.slug %}?score={{star}}">★</a></span>
			{% endfor %}
			{% for star in current_rating|remainingtimes %}
				<span><a class="starblack" href="{% url 'rate' recipe.slug %}?score={{star}}">☆</a></span>
			{% endfor %}
		</span>
        {% else %}<p><a href="{% url 'auth_login' %}">Log in</a> to comment or rate this recipe!</p>
        {% endif %}
        </div>

    </div>
    <div class="righthalfbox">
		{% if recipe.picture %}
        <img class="shrinky" src="{{recipe.picture.url}}" alt="{{recipe.name}}" />
		{% endif %}
        <div>
        <button id="facebookshare" onclick="location.href='http://facebook.com/share.php?u={{ link }}'">Share</button>
        <button id="twittershare" onclick="location.href='https://twitter.com/intent/tweet?url={{ link }}'">Tweet</button>
        <button id="gplusshare" onclick="location.href='https://plus.google.com/share?url={{ link }}'">Share</button>
        </div>
    </div>
{% endblock %}